:root {
  --background-color: #fffef2;
  --seconday-background-color: #244d46;
  --footer-color: #ebeadb;
  --main-font-color: #000000;
  --secondary-font-color: #fffef2;
  --omada-red: #F75443;

  --heading-font: "aviano-sans", sans-serif, system-ui;
  --bodytext-font: Georgia, sans-serif;

  --border-color: #534F4B;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--bodytext-font);
  background-color: var(--background-color);
  line-height: 1.6;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
h1, h2{
  font-family: var(--heading-font);
}

