---
import MainLayout from "../layouts/MainLayout.astro";
import Cta from "../components/Cta.astro";
import Kampagne from "../components/Kampagne.astro";
import Events from "../components/Events.astro";
import Products from "../components/Products.astro";
import Testimonials from "../components/Testimonials.astro";
import TestimonialForm from "../components/TestimonialForm.astro";
import JoinUs from "../components/JoinUs.astro";
---

<MainLayout title="Deli">
  <!-- Sektion øverst som viser åbningstider, grafik af butikken osv -->
  <section class="hero">
    <div>
      <h1>omada wine & deli</h1>
      <p>Øster Farimagsgade 26</p>
      <p>2100 København Ø</p>
      <p>Wednesday to Sunday</p>
      <p>11:00 - 20:00</p>
    </div>
    <div>
      <img src="butik.png.webp" alt="drawing of the store" />
    </div>
    <div class="cta_knapper">
      <Cta knaptekst="upcoming events" />
      <Cta knaptekst="deli goods" />
      <Cta knaptekst="testimonials" />
      <Cta knaptekst="about" />
    </div>
  </section>
  <JoinUs />
  <Kampagne />
  <Events/>
  <Products/>
  <section class="testimonials">
    <Testimonials/>
    <TestimonialForm/>
  </section>
  <section class="about-us">
    <h2>about omada</h2>
    <p>
      Omada Wine & Deli in Copenhagen is your go-to for wine, food, and more! 
    </p>
    <p>
      Our store features a complete lineup of natural wine, cider, and other mixed fermentations, as well as a selection of high-quality groceries and local farmers' cheese and charcuterie. 
    </p>
    <p>
      You can enjoy a glass of wine in-store or join us for an open wine tasting. When a winemaker is in town, we're the place to be!
    </p>
  </section>
</MainLayout>

<style>
  h1 {
    color: var(--omada-red);
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .hero {
    text-align: center;
    margin-block: 2rem;
  }
  p:nth-of-type(2),
  p:nth-of-type(4) {
    margin-bottom: 2rem;
  }
  .hero img {
    margin-bottom: 3rem;
  }
  .cta_knapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .cta_knapper:hover {
    transform: scale(1);
  }

  .testimonials {
    margin-block: 3rem;
  }

  .about-us {
    margin-block: 6rem;
    margin-inline: auto;
    width: fit-content;
  }

  .about-us h2 {
    text-align: center;
    margin-block: 2rem;
  }

  .about-us p {
    max-width: 65ch;
    margin-inline: 3rem;
    margin-bottom: 1rem;
  }


  @media (min-width: 700px) {
    h1 {
      font-size: 3rem;
      letter-spacing: 0.08em;
    }
    .hero {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-block: 4rem;
      align-items: center;
      max-width: 1200px;
      margin-inline: auto;
    }
    .hero img {
      max-width: 30rem;
      margin-inline: auto;
      margin-bottom: auto;
    }
    .cta_knapper {
      grid-column: span 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
      margin-block: 3rem 2rem;
    }
}
</style>
