---
import MainLayout from "../layouts/MainLayout.astro";
import Cta from "../components/Cta.astro";
import Kampagne from "../components/Kampagne.astro";
import Events from "../components/Events.astro";
import Products from "../components/Products.astro";
---

<MainLayout title="Deli">
  <!-- Sektion øverst som viser åbningstider, grafik af butikken osv -->
  <section class="hero">
    <div>
      <h1>omada wine & deli</h1>
      <p>Øster Farimagsgade 26</p>
      <p>2100 København Ø</p>
      <p>Wednesday to Sunday</p>
      <p>11:00 - 20:00</p>
    </div>
    <div>
      <img src="butik.png.webp" alt="drawing of the store" />
    </div>
    <div class="cta_knapper">
      <Cta knaptekst="upcoming events" />
      <Cta knaptekst="deli goods" />
      <Cta knaptekst="testimonials" />
      <Cta knaptekst="about" />
    </div>
  </section>

  <!-- sektion med kort tekst og png med kaffe -->
  <section class="join_us">
    <div></div>
    <div>
      <h2>Join us at Omada</h2>
      <p>Discover natural wine, local food & groceries at Omada Wine & Deli in Østerbro, Copenhagen.</p>
      <p>Join us for wine tastings, food events & more.</p>
    </div>
    <img src="hero.png" alt="" />
  </section>
  <Kampagne />
<Events/>
<Products/>
</MainLayout>

<style>
  h1 {
    color: var(--omada-red);
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .hero {
    text-align: center;
    margin-block: 2rem;
  }
  p:nth-of-type(2),
  p:nth-of-type(4) {
    margin-bottom: 2rem;
  }
  .hero img {
    margin-bottom: 3rem;

  }
  .cta_knapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .cta_knapper:hover {
    transform: scale(1);
  }
  .join_us {
    text-align: center;
    position: relative;
    padding-bottom: 12rem;
    padding-top: 2rem;
  }
  .join_us p {
    padding-inline: 1.5rem;
  }
  .join_us p:first-of-type {
    margin-bottom: 1rem;
  }
  .join_us img {
    max-width: 200px;
    position: absolute;
    transform: rotate(-40deg);
    top: 9rem;
  }
  .join_us div:nth-of-type(2) {
      z-index: 2;
    }

  @media (min-width: 700px) {
    h1 {
      font-size: 3rem;
      letter-spacing: 0.08em;
    }
    .hero {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-block: 4rem;
      align-items: center;
      max-width: 1200px;
      margin-inline: auto;
    }
    .hero img {
      max-width: 30rem;
      margin-inline: auto;
      margin-bottom: auto;
    }
    .cta_knapper {
      grid-column: span 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
      margin-block: 3rem 2rem;
    }
    .join_us {
      display: grid;
      grid-template-columns: 30% 1fr;
      /* max-width: 1200px;
        margin-inline: auto; */
      padding-bottom: 6rem;
    }
 

    .join_us p,
    .join_us h2 {
      max-width: 65ch;
      margin-inline: auto;
    }
    .join_us img {
      max-width: 250px;
      top: -25px;
    }
  }
</style>
