---
import MainLayout from "../layouts/MainLayout.astro";
import Cta from "../components/Cta.astro";
---

<MainLayout title="Deli">
  <!-- Sektion øverst som viser åbningstider, grafik af butikken osv -->
  <section class="hero">
    <div>
      <h1>Omada Wine & Deli</h1>
      <p>Øster Farimagsgade 26</p>
      <p>2100 København Ø</p>
      <p>Wednesday to Sunday</p>
      <p>11:00 - 20:00</p>
    </div>
    <div>
      <img src="butik.png.webp" alt="drawing of the store" />
    </div>
    <div class="cta_knapper">
      <Cta knaptekst="Upcoming events" />
      <Cta knaptekst="Deli goods" />
      <Cta knaptekst="Testimonials" />
      <Cta knaptekst="About" />
    </div>
  </section>

  <!-- sektion med kort tekst og png med kaffe -->
  <section class="join_us">
    <div></div>
    <div>
      <h2>Join us at Omada</h2>
      <p>Discover natural wine, local food & groceries at Omada Wine & Deli in Østerbro, Copenhagen.</p>
      <p>Join us for wine tastings, food events & more.</p>
    </div>
    <img src="hero.png" alt="" />
  </section>

  <section class="campaign">
    <h2>Limited time only</h2>
    <p>Sign up to our newsletter and get an exclusive goodiebag next time you shop at Omada Wine & Deli</p>

    <form action="">
      <input type="text" name="name" placeholder="name" />
      <input type="email" name="email" placeholder="email" />
      <input type="submit" value="subscribe" />
    </form>
    <p>Only at in-store purchase over 200 DKK. The goodie-bag has a value of 450 DKK</p>
  </section>
</MainLayout>

<style>
  h1 {
    color: #f75443;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .hero {
    text-align: center;
    margin-block: 2rem;
  }
  p:nth-of-type(2),
  p:nth-of-type(4) {
    margin-bottom: 2rem;
  }
  .hero img {
    margin-bottom: 3rem;
  }
  .cta_knapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .cta_knapper:hover {
    transform: scale(1);
  }
  .join_us {
    text-align: center;
    position: relative;
    padding-bottom: 14rem;
    padding-top: 2rem;
  }
  .join_us p {
    padding-inline: 1.5rem;
  }
  .join_us p:first-of-type {
    margin-bottom: 1rem;
  }
  .join_us img {
    max-width: 300px;
    position: absolute;
    transform: rotate(-40deg);
    top: 4rem;
  }
  .campaign {
    padding-block: 1rem;
    background-color: #264f48;
    color: var(--background-color);
    padding-inline: 1rem;
  }
  .campaign h2 {
    font-size: 2.5rem;
    font-weight: 500;
  }
  input {
    font-family: var(--heading-font);
    background-color: transparent;
    color: var(--background-color);
    border: none;
    border-bottom: solid 1px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
  }
  form :nth-child(1) {
    margin-block: 1rem;
  }
  form :nth-child(3) {
    border-bottom: none;
    background-color: var(--background-color);
    color: #264f48;
    width: fit-content;
    padding: 0.4rem 0.7rem;
    margin-inline: auto;
    margin-top: 1rem;
  }
  .campaign p:last-of-type {
    font-size: 0.5rem;
    max-width: 48%;
    margin-top: 2rem;
  }

  @media (min-width: 700px) {
    h1 {
      font-size: 3rem;
    }
    .hero {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-block: 4rem;
      align-items: center;
      max-width: 1200px;
      margin-inline: auto;
    }
    .hero img {
      max-width: 30rem;
      margin-inline: auto;
      margin-bottom: auto;
    }
    .cta_knapper {
      grid-column: span 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
      margin-block: 3rem 2rem;
    }
    .join_us {
      display: grid;
      grid-template-columns: 30% 1fr;
      /* max-width: 1200px;
        margin-inline: auto; */
      padding-bottom: 6rem;
    }
    .join_us div:nth-of-type(2) {
      z-index: 2;
    }

    .join_us p,
    .join_us h2 {
      max-width: 65ch;
      margin-inline: auto;
    }
    .join_us img {
      min-width: 350px;
      top: -120px;
    }
  }
</style>
