---
const { knaptekst } = Astro.props;
---

<button>{knaptekst}</button>

<style>
  button {
    background-color: transparent;
    border: solid var(--border-color) 1px;
    padding: 0.4rem 1rem;
    font-family: var(--heading-font);
    font-weight: 5+0;
    width: fit-content;
    transition: border 0.2s ease-in-out;
    letter-spacing: 0.06rem;
  }
  button:hover {
    border: solid var(--omada-red) 1px;
    cursor: pointer;
  }

</style>
