---
const { knaptekst } = Astro.props;
---

<button>{knaptekst}</button>

<style>
  button {
    background-color: transparent;
    border: solid black 1.2px;
    padding: 0.4rem 1rem;
    font-family: var(--heading-font);
    font-weight: 550;
    width: fit-content;
  }
  button:hover {
    border: solid black 2px;
    cursor: pointer;
  }
</style>
