---
import Cta from "./Cta.astro";
---

<section class="products">
  <h2>Deli Goods</h2>
  <div class="product_shelf">
    <div class="product_card">
      <img src="kaffe.webp" alt="kaffe" />
      <p>Coffee</p>
      <p>69 dkk</p>
    </div>
    <div class="product_card">
      <img src="æblemost.webp" alt="æblemost" />
      <p>Apple cider</p>
      <p>59 dkk</p>
    </div>
    <div class="product_card">
      <img src="appelsindrik.webp" alt="appelsindrik" />
      <p>Orangejuice</p>
      <p>39 dkk</p>
    </div>
    <div class="product_card">
      <img src="sardin.webp" alt="Sardines" />
      <p>Sardines</p>
      <p>29 dkk</p>
    </div>
    <div class="product_card">
      <img src="glogg.webp" alt="Gløgg" />
      <p>Gløgg spices</p>
      <p>39 dkk</p>
    </div>
  </div>
  <div class="cta"><Cta knaptekst="Explore our selection"/></div>
</section>
<style>
  .products {
    padding-block: 3rem;
  }

  .product_shelf {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    gap: 1rem;
  }
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .product_card:hover {
    cursor: pointer;
  }
  .product_card img {
    aspect-ratio: 3/4;
    object-fit: cover;
    margin-bottom: 1rem;
    width: 11rem;
  }
  .product_card p:first-of-type {
    font-weight: 600;
    font-style: italic;
  }
  .product_card p:nth-of-type(2) {
    font-family: var(--heading-font);
    margin-bottom: 1rem;
  }
  
.product_shelf div:first-of-type{
    margin-left: 1rem;
}
.product_shelf div:last-of-type{
    margin-right: 1rem;
}
/* .products div:last-of-type{
    text-align: center;
} */

.cta {
    text-align: center;
    margin-top: 1rem;

}

@media (min-width: 900px){
    .product_shelf{
        justify-content: center;
    }
}
</style>
