---
import { createClient } from '@supabase/supabase-js';


const supabaseUrl = 'https://zmcyikxmiayuhgfwtsea.supabase.co';
    const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InptY3lpa3htaWF5dWhnZnd0c2VhIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODIzMjc5NzgsImV4cCI6MTk5NzkwMzk3OH0.XEziRlwGxjmj3Xd6Y3hwWVW36m80dJSlqNRrXbWn-LQ';
    const supabase = createClient(supabaseUrl, supabaseKey);

    const response = await supabase
        .from('testimonials')
		.select('*')
		// .eq('approved', true)
		.order('created_at', { ascending: false });

        const testimonials = response.data;
        console.log(testimonials);

    // convert created_at in data to normal date display
    testimonials.forEach((testimonial) => {
    testimonial.created_at = new Date(testimonial.created_at).toLocaleDateString();
	});
---

<div class="banner">
    <div class="container">
        <div class="scroller">
        {testimonials.map((testimonial) => (
            <div class="testimonial">
                <h2 class="name">{testimonial.name}</h2>
                <p class="text">"{testimonial.text}"</p>
                <p class="date">{testimonial.created_at}</p>
            </div>
        )
        )}
        </div>
    </div>

</div>

<style>

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        background-color: var(--secondary-background-color);
        color: var(--background-color);
        height: 20rem;
    }

    .container {
        overflow-x: auto;
    }

    .container::-webkit-scrollbar {
        display: none;
    }

    .scroller {
        display: flex;
        flex-direction: row;
        gap: 16rem;
        justify-content: space-between;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .scroller:first-child {
        margin-left: 8rem;
    }

    .testimonial {
        margin-block: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;;
        align-items: center;
    }

    .name {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        letter-spacing: 0.08rem;
        width: 140%;
        text-align: center;
    }

    .text {
        font-size: 1rem;
        font-weight: 100;
        width: 250%;
        text-align: center;
    }

    .date {
        font-size: 0.8rem;
        font-weight: 100;
        margin-top: 0.5rem;
    }

</style>