---
// Import the createClient function from the Supabase JS library
import { createClient } from '@supabase/supabase-js';

// Define the Supabase URL and API key
const supabaseUrl = 'https://zmcyikxmiayuhgfwtsea.supabase.co';
const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InptY3lpa3htaWF5dWhnZnd0c2VhIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODIzMjc5NzgsImV4cCI6MTk5NzkwMzk3OH0.XEziRlwGxjmj3Xd6Y3hwWVW36m80dJSlqNRrXbWn-LQ';

// Create a Supabase client instance
const supabase = createClient(supabaseUrl, supabaseKey);

// Query the 'testimonials' table and retrieve "show=true" records, sorted by creation date
const response = await supabase
    .from('testimonials')
    .select('*')
    .eq('show', true)
    .order('created_at', { ascending: false });

// Store the testimonials in a variable
const testimonials = response.data;

// convert created_at in data to normal date display
testimonials.forEach((testimonial) => {
    testimonial.created_at = new Date(testimonial.created_at).toLocaleDateString();
});

// Log the testimonials to the console
console.log(testimonials);
---

<div class="banner">
    <div class="container">
        <div class="scroller">
        {testimonials.map((testimonial) => (
            <div class="testimonial">
                <p class="text">"{testimonial.text}"</p>
                <div class="name-date">
                    <p class="name">- {testimonial.name}</p>
                    <p class="date">{testimonial.created_at}</p>
                </div>
            </div>
        )
        )}
        </div>
    </div>

</div>

<style>

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        background-color: var(--secondary-background-color);
        color: var(--background-color);
        height: 20rem;
    }

    .container {
        overflow-x: auto;
        -ms-overflow-style: none;
    scrollbar-width: none;
    }

    .container::-webkit-scrollbar {
        display: none;
    }

    .scroller {
        display: flex;
        flex-direction: row;
        gap: 18rem;
        justify-content: space-between;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .scroller:first-child {
        margin-left: 8rem;
    }

    .testimonial {
        margin-block: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;;
        align-items: center;
        height: 7rem;
        max-width: 8rem;
    }

    .text {
        font-size: 1rem;
        font-weight: 100;
        width: 250%;
        text-align: center;
    }

    .name {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.08rem;
        width: 140%;
        text-align: center;
        font-family: var(--heading-font);
        white-space: nowrap;
    }

    .date {
        font-size: 0.8rem;
        font-weight: 10;
    }

    .name-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        gap: 0.6rem;
    }

</style>